# API
fastapi
uvicorn
python-multipart

# Base de datos
motor
pymongo

# Configuración
pydantic
pydantic[email]
pydantic-settings
python-dotenv

# Autenticación
python-jose[cryptography]
passlib[bcrypt]

# GitHub
PyGithub
httpx

#Frameworks
Bandit
semgrep
checkov
